<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Preconnect to CDN: remove if not needed -->
    <link href="https://cdn.jsdelivr.net" rel="preconnect" crossorigin="anonymous">

    <link href="https://cdn.jsdelivr.net/npm/boosted@5.1.3/dist/fonts/HelvNeue55_W1G.woff2" rel="preload" as="font" type="font/woff2" integrity="sha384-R6e0PFLMMV6HBvkQK22ecNfjOzyh89wSndiTC71MuvoaOnhIYgOAGVC0gW0kVN16" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/boosted@5.1.3/dist/fonts/HelvNeue75_W1G.woff2" rel="preload" as="font" type="font/woff2" integrity="sha384-ylOkwNNvSwXpWNbpEhI45ruJTXyfQbIb42IxMvSGGcndZBpZ9iAmOFSUl4/Goeqz" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/boosted@5.1.3/dist/css/orange-helvetica.min.css" rel="stylesheet" integrity="sha384-ARRzqgHDBP0PQzxQoJtvyNn7Q8QQYr0XT+RXUFEPkQqkTB6gi43ZiL035dKWdkZe" crossorigin="anonymous">

    <link href="dist/fonts/HelvNeue55_W1G.woff2" rel="preload" as="font" type="font/woff2" crossorigin="anonymous">
    <link href="dist/fonts/HelvNeue75_W1G.woff2" rel="preload" as="font" type="font/woff2" crossorigin="anonymous">
    <link href="dist/css/orange-helvetica.min.css" rel="stylesheet" crossorigin="anonymous">
 

    <!-- Boosted CSS -->
    <link href="https://cdn.jsdelivr.net/npm/boosted@5.1.3/dist/css/boosted.min.css" rel="stylesheet" integrity="sha384-Di/KMIVcO9Z2MJO3EsrZebWTNrgJTrzEDwAplhM5XnCFQ1aDhRNWrp6CWvVcn00c" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body  style="background-color: rgb(190, 190, 190);">
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="width: 800px; height: 100px; margin-top: 10rem; margin-left : 20rem;">
        <div class="container" style="margin: 2rem;" >

          <a  href="#">
            <img src="../../public/dist/img/logoP.png" width="70" height="70" role="img"  >
          </a>
          
          <div class="collapse navbar-collapse" style="padding: 2rem;" >
           <h5>
            Orange<br/>
            Digital Center Tunisia</h5>
          </div>
        </div>
        
    </nav>
    <div class="container  "  style="background-color: rgb(255, 255, 255); width: 800px;width: 800px; height: 200px;  margin-left : 20rem;"  >
      <br/>
        <b>Bonjour   xxxxx xxxxx, </b> <br/>

        Nous avons  le créer une compte sur Orange Test , Pour pouvoir accéder à la plateforme, <br/>
        veuillez connecter sur se lien :  ...... <br/>
        avec : <br/>
              <b>e-mail : AAAA.YYYY@orange.com</b> <br/>
              <b> mot de passe : xxxxyyyyyy</b>
        
    </div>

 
 </body>

</html>
